[submodule "src/sat/cadical"]
	path = src/sat/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "src/sat/kissat"]
	path = src/sat/kissat
	url = https://github.com/arminbiere/kissat.git
[submodule "src/model/aiger"]
	path = src/model/aiger
	url = https://github.com/arminbiere/aiger.git
[submodule "src/sat/minisat"]
	path = src/sat/minisat
	url = https://github.com/niklasso/minisat.git
